/* 1. Importar las fuentes desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* 2. Importar Tailwind */
@import "tailwindcss";

/* 3. DEFINIR EL TEMA (Colores y Fuentes) */
@theme {
  --color-brand-green: #00ff7f; /* Verde del logo */
  --font-poppins: "Poppins", sans-serif;
}

/* 4. ESTILOS GLOBALES */
body {
  background-color: #000; /* Fondo negro */
  font-family: var(--font-poppins);
  color: white;
}
